* {
  font-family: 'Indie Flower', cursive;
}

header {
  background-color: #DB9E36;
  color: #FFFAD5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  font-size: 24px;
}

h2 {
  margin-top: 15px;
  margin-bottom: 0px;
}

p {
  font-size: 24px;
  margin-left: 25px;
}

body {
  margin: 0;
  background-color: #FFFAD5;
}

a {
  text-decoration: none;
}

a:link {
  color: #FFFAD5;
}

.nav {
  display: inline;
  margin-right: 20px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px;
  font-size: 19px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #DB9E36;
  margin-bottom: 0;
}

.highlightIt {
  background-color: #BD4932;
  padding: 5px;
  width: 250px;
  height: 250px;
}

#response {
  color: black;
}

.chartStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#myChart {
  width: 900px;
  height: 350px;
}

img {
  margin: 15px;
}

#buttonPlace {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bar-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px, 15px, 0px, 15px;
}

.bar-legend li {
  font-size: 18px;
}

#legend li {
  list-style-type: none;
}
